#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "filter_1 Filter Driver"
#define VER_INTERNALNAME_STR        "filter_1.sys"

#include "common.ver"
